<app-form-card title="Login">
  <form
    #form="ngForm"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <div *ngIf="error | async" class="error">
      {{ (error | async)?.error }}
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email" name="email" autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required!
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Enter a correct email!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password" name="password" autocomplete="current-password"
        required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        The password is required!
      </mat-error>
    </mat-form-field>

    <a routerLink="/register" class="register-link">Don't have an account? Sign Up</a>

    <div>
      <button
        type="submit"
        mat-button
        class="btn-login"
        [disabled]="form.invalid"
      >
        SIGN IN
      </button>
    </div>
  </form>
</app-form-card>
