.wrapper
  min-height: 100%
  display: flex
  flex-direction: column

.toolbar
  display: block
  position: fixed
  padding-top: 12px
  background: black
  z-index: 10
  box-shadow: 0 0 10px 2px white

.header-item
  display: flex
  align-items: center
  justify-content: space-between

.logo-block
  display: flex

.logo
  display: flex
  align-items: center
  font-size: 27px
  text-decoration: none
  color: silver
  margin-left: 15px

.material-icons
  font-size: 40px
  color: silver
  margin-right: 5px

.register-block
  display: flex

.register-block-link
  display: flex
  align-items: center
  font-size: 14px
  font-weight: 700
  text-decoration: none
  text-transform: uppercase
  padding: 3px 10px 3px 7px
  margin-right: 7px
  color: black
  border: 1px solid black
  border-radius: 5px
  background: silver
  &:hover
    box-shadow: 0 0 5px 2px white

.register-icons
  font-size: 20px
  color: black

.main
  flex: 1 1 auto

.container
  max-width: 1370px
  padding: 0 15px
  margin: 0 auto

.content
  padding: 100px 0 20px

.footer
  padding: 10px
  background: black

.footer-item
  text-align: right

.footer-text
  font-style: italic
  margin: 0
