<div class="wrapper">
  <mat-toolbar class="toolbar">
    <header class="header">
      <div class="header-item">
        <div class="logo-block">
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ul class="menu-list">
                <li><a routerLink="/" class="menu-link"><span class="material-icons">forum</span>Posts</a></li>
              </ul>
            </mat-menu>
          </div>
          <a routerLink="/" class="logo"><span class="material-icons">forum</span>Forum</a>
        </div>
        <ng-container *ngIf="!(user | async) else userMenu">
          <div class="register-block">
            <a routerLink="register" class="register-block-link"><span class="material-icons register-icons">how_to_reg</span>register</a>
            <a routerLink="login" class="register-block-link"><span class="material-icons register-icons">login</span>sing in</a>
          </div>
        </ng-container>
        <ng-template #userMenu>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <ul class="menu-list">
                <li><button mat-menu-item (click)="logout()" class="menu-link"><span class="material-icons">logout</span>Logout</button></li>
                <li><a mat-menu-item routerLink="create-post" class="menu-link"><span class="material-icons">local_post_office</span>Create Post</a></li>
              </ul>
            </mat-menu>
          </div>
        </ng-template>
      </div>
    </header>
  </mat-toolbar>
  <main class="main">
    <div class="container">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer-item">
      <p class="footer-text">footer</p>
    </div>
  </footer>
</div>
