<div class="posts-block">
  <mat-spinner *ngIf="loading | async"></mat-spinner>
    <mat-card class="card"  *ngFor="let post of posts | async" (click)="onClickCard(post._id)">
      <img class="post-image" src="{{ post.image? apiUrl + '/uploads/' + post.image : './assets/images.png' }}" alt="{{post.title}}">
      <div class="card-info">
        <mat-card-header class="card-header">
          <b><p class="card-title">{{post.datetime}}</p></b>
          <b><p class="card-title">{{post.user.name}}</p></b>
        </mat-card-header>
        <mat-card-content class="card-content">
          <h2>{{post.title}}</h2>
        </mat-card-content>
      </div>
    </mat-card>
</div>
