.card
  display: flex
  flex-wrap: wrap
  max-width: 900px
  background: #2C3E50
  background: -webkit-linear-gradient(to bottom, #ccc, #2C3E50)
  background: linear-gradient(to bottom, #ccc, #2C3E50)
  border: 2px solid black
  border-radius: 15px
  color: black
  margin: 0 auto 30px
  &:hover
    box-shadow: 0 0 10px 3px white

.post-image
  width: 230px
  height: 200px
  margin: 10px
  border-radius: 10px

.card-info
  text-align: center

.card-header
  display: flex
  justify-content: center

.card-title
  font-size: 16px
  margin: 0 5px 45px

.card-content
  padding: 20px 10px 10px

.content-link
  text-decoration: none
