*, *:after, *:before
  padding: 0
  margin: 0
  border: 0
  box-sizing: border-box

body,html
  height: 100%
  font-size: 16px
  font-weight: 500
  color: white
  background: #2C3E50

.mat-menu-panel
  min-width: 200px!important
  background: black!important
  border: 2px solid silver
  margin: 10px 0 0
  padding: 20px
  border-radius: 5px!important
  box-shadow: 0 0 10px 3px white

.menu-list
  list-style: none

.menu-link
  display: flex!important
  align-items: center
  font-size: 18px
  font-weight: 700
  color: silver
  text-decoration: none
  &:hover
    opacity: 0.6

.error
  background-color: #f44336
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 2px
