<app-form-card title="Creat post">
<form
  #form="ngForm"
  autocomplete="off"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input required matInput name="title" ngModel #title="ngModel"/>
    <mat-error
      class="reg-form__element-error" *ngIf="title.touched && title.hasError('required')"
    >Title is required!
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput name="description" ngModel #description="ngModel">
  </mat-form-field>
  <mat-error class="reg-form__element-error" *ngIf="description.touched && description.hasError('serverError')"
  >{{ description.getError('serverError')}}</mat-error>
  <mat-form-field appearance="outline">
    <mat-label>Image</mat-label>
    <app-file-input name="image" matInput ngModel #image="ngModel"></app-file-input>
  </mat-form-field>
  <mat-error class="reg-form__element-error" *ngIf="image.touched && image.hasError('serverError')"
  >{{ image.getError('serverError')}}</mat-error>
  <div>
    <button
      type="submit"
      mat-button
      class="btn-login"
      [disabled]="form.invalid"
    >
      CREATE
    </button>
  </div>
</form>
</app-form-card>
