.info-block
  display: flex
  background: silver
  border-radius: 10px
  color: black
  padding: 5px 10px
  margin-bottom: 20px

.post-image
  float: left
  width: 500px
  height: 400px
  border-radius: 10px

.post-text
  flex-grow: 1
  margin-left: 30px
  text-align: center

.post-date
  display: flex
  justify-content: center

.comment-block
  text-align: center
  padding: 10px
  background: silver
  border-bottom: 2px solid #2C3E50
  border-radius: 10px

.comment-title
  font-size: 30px
  color: black

.comment-cards
  margin-bottom: 20px
  border-bottom: 2px solid #2C3E50

.form
  display: flex
  flex-direction: column

.form-btn
  display: flex
  justify-content: center

.btn-login
  font-weight: 700
  color: black
  background: silver
  border-radius: 5px
