<div class="posts-block">
  <mat-spinner *ngIf="loading | async"></mat-spinner>
  <div class="info-block">
    <img class="post-image" src="{{ postInformation?.image? apiUrl + '/uploads/' + postInformation?.image : './assets/images.png' }}" alt="{{postInformation?.title}}">
    <div class="post-text">
      <div class="post-date">
        <p class="card-title">{{postInformation?.datetime}}</p>
        <p class="card-title">{{postInformation?.user?.name}}</p>
      </div>
      <p>{{postInformation?.title}}</p>
      <p>{{ postInformation?.description}}</p>
    </div>
  </div>
</div>
<div class="comment-block" *ngIf="user | async">
  <h3 class="comment-title">Comments</h3>
  <div class="comment-cards" *ngFor="let comment of comments | async">
    <mat-card>
      <mat-card-title>{{ comment.description }}</mat-card-title>
    </mat-card>
  </div>
  <div class="form-comment">
    <mat-card>
      <form
        #form="ngForm"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
        class="form"
      >
        <mat-form-field appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea required matInput name="description" ngModel></textarea>
        </mat-form-field>
          <div class="form-btn">
            <button
              type="submit"
              mat-button
              class="btn-login"
              [disabled]="form.invalid"
            >
              SEND
            </button>
          </div>
      </form>
    </mat-card>
  </div>
</div>
